<div class="container">
  <!-- Add Project Button -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div class="title" style="font-size: 20px; font-weight: bold;">Project List</div>
    <button class="btn btn-outline-primary d-flex align-items-center gap-2 ms-auto"
      routerLink="/project-module/project-create">
      <i class="bi bi-card-list"></i>
      + Add New
    </button>
  </div>


  <!-- Header Section -->
  <!-- <header class="navbar" style="display: flex; justify-content: space-between; align-items: center; background-color: #345e78; color: white; padding: 0 20px; height: 60px;">
      
    </header> -->

  <!-- Bootstrap Table -->
  <div class="mb-2 d-flex justify-content-end">
    <div class="position-relative w-25 search-section">
      <span class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
      <input type="text" class="form-control">
    </div>
  </div>
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col" style="width: 20%;">Name</th>
        <th scope="col" style="width: 30%;">Description</th>
        <th scope="col" style="width: 30%;">Due Date</th>
        <th class="text-center" scope="col" style="width: 20%;">Action</th>
      </tr>
    </thead>
    <tbody>
      <!-- Bind ProjectList -->
      <tr *ngFor="let element of ProjectList">
        <td>{{ element?.Name }}</td>
        <td>{{ element?.Description }}</td>
        <td>{{ element?.DueDate | date:'dd-MMM-YYYY' }}</td>
        <td class="text-center">
          <div class="d-flex gap-2 justify-content-center">
            <button class="btn btn-primary btn-sm d-flex justify-content-center align-items-center"
              style="height: 28px; line-height: 1; padding: 0 8px; font-size: 0.8rem;"
              (click)="edit(element?.Id)"><i class="fa-solid fa-pen-to-square"></i></button>
            <button class="btn btn-danger btn-sm d-flex justify-content-center align-items-center"
              style="height: 28px; line-height: 1; padding: 0 8px; font-size: 0.8rem;"
              (click)="delete(element?.Id)"><i class="fa-solid fa-trash-can"></i></button>
              <button *ngIf="element?.Id" class="btn btn-info btn-sm" (click)="viewDetail(element?.Id)">
                <i class="fa-solid fa-eye"></i> View
              </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- No Data Message -->
  <div *ngIf="!ProjectList?.length" class="alert alert-info text-center">
    No Projects Available.
  </div>
</div>