<div class="layout">
  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="logo">Logo</div>
    <div class="menu-section">
      <div class="menu-header" (click)="toggleUserMenu()">
        <span>&#128100; User</span>
        <span [class]="userMenuOpen ? 'arrow-up' : 'arrow-down'"></span>
      </div>
      <ul *ngIf="userMenuOpen" class="submenu">
        <li><a routerLink="/user/user-list" routerLinkActive="active">User List</a></li>
        <li><a routerLink="/user/user-create" routerLinkActive="active">Add User</a></li>
      </ul>

    </div> 
    <!-- Project Section -->
    <div class="menu-section">
      <div class="menu-header" (click)="toggleProjectMenu()">
        <span>&#128736; Project</span>
        <span [class]="projectMenuOpen ? 'arrow-up' : 'arrow-down'"></span>
      </div>
      <ul *ngIf="projectMenuOpen" class="submenu">
        <li><a routerLink="/project-module/project-create" routerLinkActive="active">Create Project</a></li>
        <li><a routerLink="/project-module/Project-list" routerLinkActive="active">Project List</a></li>
      </ul>
    </div>






  </aside>

  <!-- Main content -->
  <main class="main-content">
    <header class="navbar">
      <div class="title">TMS</div>
      <div class="profile">
        <span>Profile</span>
      </div>
    </header>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
